html {
    font-family: Jost, Arial, Helvetica, sans-serif;
    background-color: darkslategray;
}

svg text {
    font-family: Jost, Arial, Helvetica, sans-serif;
}

svg .edge path {
    stroke: #333333;
}

svg .edge polygon {
    stroke: #333333;
    fill: #333333;
}

svg .node {
    cursor: pointer;
}

svg .node polygon,
svg .node path {
    stroke: #333333;
    fill: transparent;
}

svg .node text {
    fill: #333333;
}

svg .node.todo path,
svg .node.todo polygon {
    stroke: #999999
}

svg .node.todo text {
    fill: #999999;
}

svg .node.done path,
svg .node.done polygon {
    fill: #333333
}

svg .node.done text {
    fill: black;
}

